@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
     <meta charset="utf-8">
     <meta content="width=device-width, initial-scale=1.0" name="viewport">

     <title>Bad Bank</title>
     <meta content="" name="description">
     <meta content="" name="keywords">

     <!-- Favicons -->
     <link href="~/assets/img/favicon.png" rel="icon">
     <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

     <!-- Vendor CSS Files -->
     @Styles.Render("~/bundles/styles/animate/css")
     @Styles.Render("~/bundles/styles/bootstrap/css")
     @Styles.Render("~/bundles/styles/bootstrap-icon/css")
     @Styles.Render("~/bundles/styles/boxicons/css")
     @Styles.Render("~/bundles/styles/glightbox/css")
     @Styles.Render("~/bundles/styles/remixicon/css")
     @Styles.Render("~/bundles/styles/swiper-bundle/css")

     @if (IsSectionDefined("Styles"))
     {@RenderSection("Styles", required: false)}

     <!-- Template Main CSS File -->
     @Styles.Render("~/bundles/styles/style/css")
</head>

<body>

     @Html.Partial("_HeaderWithUser")

     <div>
          @RenderBody()
     </div>

     @Html.Partial("_Footer")

     <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

     <!-- Vendor JS Files -->


     <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

     @Scripts.Render("~/bundles/glightbox/js")
     @Scripts.Render("~/bundles/isotope/js")
     @Scripts.Render("~/bundles/waypoints/j")
     @Scripts.Render("~/bundles/validate/js")

     <!-- Template Main JS File -->

     @Scripts.Render("~/bundles/main/js")

     @RenderSection("Scripts", required: false)
</body>
</html>
