@model IEnumerable<FirstProj.Models.Card>
@{
     ViewBag.Title = "_UserCardsPartial";
}

@if (!Model.Any())
{
     <p>No cards available.</p>
}
else
{
     <p>Numărul de carduri: @Model.Count()</p>

     
          foreach (var card in Model)
          {
          <span class="card">
                         <span class="bank-name">Bad Bank</span>
                         <span class="card-number">@card.CardNumber</span>
                         <span class="owner-name">@card.UserName @card.UserSurname</span>
                         <span class="balance">@card.Balance MDL</span>
                         <span class="expire-date">@card.CardExpDate.ToString("MM/yy")</span>
                         
         
         </span>           
          }
     
}

<style>
     .card {
          position: relative;
          width: 400px;
          height: 200px;
          border: 2px solid #000;
          background-color: #808080;
          margin-top: 20px;
     }
          

          .card .bank-name {
               font-size: 25px;
               position: absolute;
               top: 10px;
               right: 10px;
               color: white;
          }

          .card .balance {
               position: absolute;
               top: 60%;
               left: 50%;
               transform: translate(-50%, -50%);
               color: white;
          }

          .card .card-number {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               color: white;
          }

          .card .owner-name {
               position: absolute;
               bottom: 10px;
               left: 10px;
               color: white;
          }

          .card .expire-date {
               position: absolute;
               bottom: 10px;
               right: 10px;
               color: white;
          }
</style>
